<%= form_with(model: post) do |form| %>
  <div class="form-group">
    <%= form.label :post, class:"form-label" %>
    <%= form.text_field :post, class:"form-control", placeholder:"Post About..." %>
  </div>
  <br>
  <div class="d-grid gap-2 mx-auto">
    <%= form.submit "Post", class:"btn btn-primary" %>
  </div>
<% end %>
